.logo {
    //position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #004282;
    padding-bottom: 1rem;
    margin: 10px auto;
    //justify-content: center;
    &--l {
        width: 20rem;
        //height: 1rem;
    }
}

.meni {

    &--glavno {
        list-style: none;
    }
    &--li {
        display: inline-block;
    }

    &--element {
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        
        //height:3rem;
        padding: 1rem 2rem;
        //margin-left: 1rem;
    

        &:link,
        &:visited {
            color: #004282;
            transition: all 200ms;

        }

        &:hover {
            box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.192);
            color: #004282;
            transform: translateY(-3px);
        }

        &:active {
            box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.192);
            color: #004282;
            transform: translateY(-1px);
        }
    }

    &--link {
        //text-decoration: none;

    }


}