$font-f: Verdana, Geneva, Tahoma;
$font-s: 1.6rem;
$slajder: 10rem;
$boja: #004282;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px od 16px e 62.5% -> 1rem = 10px;
    font-family: $font-f; 
    line-height: 1.6;
}

.naslov {
    padding-bottom: 3rem;
    padding-left: 5rem;
    font-size: 2.5rem;

    font-weight: bolder;

    &2 {
        padding-top: 1em;
    }
}
.rastojanie {
    margin-top: 2.5rem; 
}

.direkciite,
.container {
    padding-bottom: 3rem;
    padding-left: 0rem;
    font-size: $font-s;
    max-width: 60vw;
    //min-width: 119rem;
    margin: 25px auto;
    border-radius: .5rem;
}

.skrieno {
    display: none; 
}

.dolu {
    margin-bottom: 1.5rem;
}

.doluu {
    margin-bottom: 3rem;
}


.za_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #7a68bb;
    padding: 2rem 1rem;
    background-color: rgb(244, 249, 253);
}

.procena {
    padding: 2rem 3rem;
}


.greska {
    margin: auto;
    width: 70%;
    border: 1px solid red;
    margin-top: 3rem;
    padding: 1rem 2rem;
    color: red;
    text-align: center;

    background-color: rgb(250, 231, 231);

}

.modal {
    //display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 20rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(14, 2, 58, 0.849); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe; 
    color: $boja;
    font-size: 2.5rem;
    margin: auto;
    padding: 2rem;
    border: 1rem solid rgb(255, 255, 255);
    width: 50%;
    white-space: pre-wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432),0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }

  @media only screen and (max-width: 1400px) {
    .direkciite,
    .container {
        max-width: 80vw;
        margin: 23px auto;
    }
    
  }
  @media only screen and (max-width: 1000px) {
    .direkciite,
    .container {
        max-width: 95vw;
        margin: 10px auto;
    }
    
  }
  @media only screen and (max-width: 800px) {
    .direkciite,
    .container {
        max-width: 95vw;
        
    }
  }
  
