
<%- include('./includes/_header.ejs') %>


<div class="direkciite">
    <h2 class="naslov naslov2"><%= naslov %></h2>
</div>

<div class="container">
    <form action="/login" method="POST">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email"><br><br>
      <label for="password">Лозинка</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>"><br><br>


      <input type="submit" value="Submit">
    </form>
  </div>

<%- include('./includes/_footer.ejs') %>