
<%- include('./includes/_header.ejs') %>


<div class="direkciite">
    <h2 class="naslov naslov2"><%= naslov %></h2>
    
    <%
    let markup = '';
        const htmlTreeBuilder = (isprati, ii) => {
        for (let product of isprati){
            if ( ii === 1) {
                markup += `
                <button class="accordion">${product.imeKirilica}<i class="fa-solid fa-folder-plus"></i></button>
                    <div class="panel">
                <div></div>`
            } else {
                    markup += `
                    <h4 class="cetvrt">${product.imeKirilica}</h4>`
            }
            if (product.files.length) {
                for (let product2 of product.files) { 
                    markup += `
                    <div>
                        <a class="doc" href="${product2.link}" target="blank">${product2.title}</a>
                    </div>` 
                } 
            }
            // Children
        if (product.children.length) {
            htmlTreeBuilder(product.children, 2);
        }
        
        if ( ii === 1) {
            markup += `
            </div>`
        } 

        }
        //console.log('===========================================', markup)
        return markup
    
        
    }
    htmlTreeBuilder(isprati, 1)
    
    
    %>
    
    <%- markup %>
    

    
</div>

<script>

let acc = document.getElementsByClassName("accordion");
let i;

// Get the modal
let modal = document.getElementById("myModal");

// Get the button that opens the modal
let btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
let span = document.getElementsByClassName("close")[0];

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    let panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}

</script>


<%- include('./includes/_footer.ejs') %>

